
h1 {
	color: red;
}

 h2 { color: green;
}

header{
	background-color: #999;
	text-align: center;
}



#afbeelding {
	background-color: grey;
}

.blokken1{
	background-color: grey;
	float: left; 
	width: 200px;
	height: 200px; 
}

.blokken2{
	background-color: red;
	float: left; 
	width: 200px;
	height: 200px;
	position: absolute;
	left: 200px;
	top: 400px;
}

.blokken3{
	background-color: red;
	float: left; 
	width: 200px;
	height: 200px;
	position: absolute;
	left: 300px;
	top: 400px;
}


article{
	float: clear;
}




footer{
	position: absolute;
	bottom: 0;
	background-color: grey;
	width: 100%
}

