

 nav{
    margin: 400 px;
}


header{
	
    
    
}


	

	




html{
color: #ADD8E6;
background-color: #8B0000
    
    
}

	
body {
	height: 60 px;
    width: 50 px;
   
}
	

article {
	
    
    

}

    
	

#fname}

}
#login{
	
}



footer{
	
}
	
